.container {
	height: 100vh;
	margin-left: 60px;
	margin-right: 200px;
	overflow-y: scroll;
	padding: 20px;
	box-sizing: border-box;
	max-width: 800px;
	margin-inline: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.container::-webkit-scrollbar {
	display: none;
}
