.containerLogo {
	text-align: center;
	width: 100vw;
}
.containerLogo h2 {
	font-size: 50px;
}
.containerPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: rgb(11, 11, 50);
}
.link {
	@apply my-4;
}
.button {
	font-size: 25px;
}
