.inputEmail,
.inputUserName,
.inputPassword {
	width: 285px;
	border: none;
	border-bottom: 2px solid rgb(118, 118, 118);
	border-radius: 0;
}
.formRegist {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 75%;
	padding: 20px 43px;
	border: 1px solid white;
	border-radius: 20px;
	background-color: #fff;
}
.containerLink h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 83vh;
	font-size: 50px;
}

.link {
	text-decoration: none;
	color: rgb(255, 0, 0);
	transition: 500ms all;
}
.link:hover {
	border-bottom: 2px solid rgb(255, 0, 0);
	transform: scale(1.05);
}
.error {
	color: red;
}
.backToStartPage {
	text-decoration: none;
	color: rgb(0, 0, 0);
	transition: 250ms all;
	margin-right: 115%;
}
.backToStartPage:hover {
	color: rgb(188, 184, 184);
}

@media (max-height: 699px) {
	.formRegist {
		height: 80vh;
	}
}
@media (max-height: 1300px) and (min-height: 700px) {
	.formRegist {
		height: 60vh;
	}
}
@media (max-height: 545px) {
	.formRegist {
		height: 100vh;
	}
}
