form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: 'Josefin Sans', sans-serif;
	font-style: normal;
	margin-top: 5%;
}
.InputEmail,
.InputUserName,
.InputPassword {
	width: 285px;
}
.Link {
	text-decoration: none;
	color: rgb(0, 4, 255);
	transition: 500ms all;
}
.Link:hover {
	border-bottom: 2px solid rgb(0, 4, 255);
	transform: scale(1.05);
}
